{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'styles/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="profile-box">
        <div class="main"> 
            <nav class="main-head">
                <ul>
                    <li class="profile-picture"><img src="{% static 'images/profile.jpg' %}"></li>
                    <li class="profile-items">
                        <p class="name">{{user.first_name}}</p>
                        <p class="date">Date Joined: 2020/08/29</p>
                        <p class="history">5 Transaction Completed</p>
                        <p class="email">some info</p>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sub">
            <nav class="sub-head">
                <ul>
                    <form action='login' method='post'>
                    <li class="email">Email: {{user.email}}</li>
                    <li class="phone">Cell Number: 010 2476 6848</li>
                    <li class="address">Address: zzzzzzzzzzz</li>
                    <li><input class="button" type="Submit" value="Delete Your Account" style="color:#222222;"></li>
                    <li><input class="button" type="Submit" value="Change Your Info" style="color:#222222;"></li>
                </ul>
            </nav>
        </div> 
    </div> 
</div>

{% endblock %}