{% extends 'main/base.html' %}

{% block head %}
    <link href="{% static 'styles/register.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="flex-container">
        <header>
            <a href="/" class="logo" alt="home" style="color:#222222; font-size:50px;">UB Market</a>
        </header>
        <div class="flex-items">
            <figure>
                <form action="register" method="post">
                    {% csrf_token %}
                    <figcaption style="color:#222222;">Username</figcaption>
                    <input type="text" name="username" required>
                    <figcaption style="color:#222222;">Email</figcaption>
                    <input type="email" name="email" required>
                    <figcaption style="color:#222222;">Password</figcaption>
                    <input type="password" name="password" required>
                    <figcaption style="color:#222222;">Confirm password</figcaption>
                    <input type="password" name="confirm password" required>
                    <figcaption><hr></figcaption>
                    <input class="button" type="Submit" value="Create Your Account" style="color:#222222;">
                </form>
                <div>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div> 
                    <div class="sign-in">
                        <p style="color:#222222;"> Already have an account?</p>
                        <a href="/accounts/login" alt="login" style="color:#222222;">Sign In</a>
                    </div>
            </figure>
        </div>
        <footer>
            <hr>
        </footer>    
    </div>
{% endblock %}