{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'styles/accounts/register.css' %}" rel="stylesheet" type="text/css">
    <script defer src="{% static 'styles/accounts/warning.js' %}"></script>
{% endblock %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="flex-container">
        <header>
            <a href="/" class="logo" alt="home" style="color:#222222; font-size:50px;">UB Market</a>
        </header>
        <div class="flex-items">
            <figure>
                <form id='form' action="register" method="post">
                    {% csrf_token %}
                    <figcaption style="color:#222222;">First name</figcaption>
                    <input id='first_name' type="text" name="first_name" required>
                    <figcaption style="color:#222222;">Last name</figcaption>
                    <input id='last_name' type="text" name="last_name" required>
                    <figcaption style="color:#222222;">Email</figcaption>
                    <input id='email' type="email" name="email" placeholder="UB email is required" required>
                    <figcaption style="color:#222222;">Password</figcaption>
                    <input id='password' type="password" name="password" required>
                    <figcaption style="color:#222222;">Confirm password</figcaption>
                    <input id='confirm password' type="password" name="confirm password" required>
                    <figcaption><hr></figcaption>
                    <input class="button" type="submit" value="Create Your Account" style="color:#222222;">
                </form>
                <div>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div> 
                    <div class="sign-in">
                        <p style="color:#222222;"> Already have an account?</p>
                        <a href="/accounts/login" alt="login" style="color:#222222;">Sign In</a>
                    </div>
            </figure>
        </div>
        <footer>
            <hr>
        </footer>    
    </div>
{% endblock %}